<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add User</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br><br>
    <main>
      <div class="container-sm">
        <h1>Add User</h1>
        <form action="/users" method="POST">
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="text"
              placeholder="johndoe"
              name="title"
            />
            <label for="floatingInput">Title</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="text"
              placeholder="description"
              name="description"
            />
            <label for="floatingInput">Description</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="text"
              placeholder="author"
              name="author"
            />
            <label for="floatingInput">Author</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="number"
              placeholder="price"
              name="price"
            />
            <label for="floatingInput">Price</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="number"
              placeholder="ISBN"
              name="isbn"
            />
            <label for="floatingInput">ISBN</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="number"
              placeholder="pages"
              name="page"
            />
            <label for="floatingInput">Page</label>
          </div>
          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="floatingInput"
              type="link"
              placeholder="photo link"
              name="photo"
            />
            <label for="floatingInput">Picture Link</label>
          </div>
          <br />
          <button
            class="btn btn-success"
            type="submit"
            style="width: 100%; height: 60px"
          >Yuborish</button>
        </form>
      </div>
    </main>
    <br /><br />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>