<%- include("../includes/head.ejs") %>
<%- include("../includes/navbar.ejs") %>


<!-- Body section -->
<br /><br />
<main>
    <div class="container-sm">
        <h1>Add User</h1>
        <form action="/books/add" method="POST">
        <div class="form-floating mb-3">
            <input
            class="form-control"
            id="floatingInput"
            type="text"
            placeholder="johndoe"
            name="title"
            />
            <label for="floatingInput">Title</label>
        </div>
        <div class="form-floating mb-3">
            <input
            class="form-control"
            id="floatingInput"
            type="text"
            placeholder="description"
            name="description"
            />
            <label for="floatingInput">Description</label>
        </div>
        <div class="form-floating mb-3">
            <input
            class="form-control"
            id="floatingInput"
            type="text"
            placeholder="author"
            name="author"
            />
            <label for="floatingInput">Author</label>
        </div>
        <div class="form-floating mb-3">
            <input
            class="form-control"
            id="floatingInput"
            type="number"
            placeholder="price"
            name="price"
            />
            <label for="floatingInput">Price</label>
        </div>
        <div class="form-floating mb-3">
            <input
            class="form-control"
            id="floatingInput"
            type="number"
            placeholder="ISBN"
            name="isbn"
            />
            <label for="floatingInput">ISBN</label>
        </div>
        <div class="form-floating mb-3">
            <input
            class="form-control"
            id="floatingInput"
            type="number"
            placeholder="pages"
            name="page"
            />
            <label for="floatingInput">Page</label>
        </div>
        <div class="form-floating mb-3">
            <input
            class="form-control"
            id="floatingInput"
            type="link"
            placeholder="photo link"
            name="photo"
            />
            <label for="floatingInput">Picture Link</label>
        </div>
        <br />
        <button
            class="btn btn-success"
            type="submit"
            style="width: 100%; height: 60px"
        >Yuborish</button>
        </form>
    </div>
</main>
<br /><br />
<!-- /Body section -->



<%- include("../includes/foot.ejs") %>