extends layouts/main-layout.pug
block content
    div.container.row.md-5
        each user in users
            div.col-sm-3.mt-5
                div.card
                    img(style="height: 270px;", src=`https://www.w3schools.com/howto/img_avatar.png`, class="card-img-top", alt="...")
                    div.card-body
                        h5.card-title #{user.username}
                        h5.card-title #{user.description}
                        p.card-text
                            i.fa.fa-eye(style="font-size:20px") 15
                        p.card-text
                            i.fa.fa-clock-o(aria-hidden="true") 5 minutes ago
                        a.btn.btn-primary(href=`/`, style="width: 100%;") Batafsil


                        
