extends layouts/main-layout.pug
block content
    main
      div.container-sm
        h1 Add User
        form(action="/users", method="POST")
          //- <input type='text' name='username'>
          //- <input type='number', name='age'>
          div.form-floating.mb-3
            input.form-control#floatingInput(type="text", placeholder="johndoe", name="title")
            label(for="floatingInput") Title
          div.form-floating.mb-3
            input.form-control#floatingInput(type="text", placeholder="description", name="description")
            label(for="floatingInput") Description
          div.form-floating.mb-3
            input.form-control#floatingInput(type="text", placeholder="author", name="author")
            label(for="floatingInput") Author
          div.form-floating.mb-3
            input.form-control#floatingInput(type="number", placeholder="price", name="price")
            label(for="floatingInput") Price
          div.form-floating.mb-3
            input.form-control#floatingInput(type="number", placeholder="ISBN", name="isbn")
            label(for="floatingInput") isbn
          div.form-floating.mb-3
            input.form-control#floatingInput(type="number", placeholder="pages", name="page")
            label(for="floatingInput") Page
          div.form-floating.mb-3
            input.form-control#floatingInput(type="link", placeholder="photo link", name="photo")
            label(for="floatingInput") Picture Link
          br
          button.btn.btn-success(type="submit", style="width: 100%; height: 60px") Yuborish
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", crossorigin="anonymous")
