extends layouts/main-layout.pug
block content
    div.container.row.md-5
        each user in users
            div.col-sm-3.mt-5
                div.card
                    img(src=`${user.photo}`, class="card-img-top", alt="...", style="height: 270px;")
                    div.card-body
                        h5.card-title #{user.title}
                        p.card-text
                            i.fa.fa-eye(style="font-size:20px") #{user.description}
                        p.card-text
                            i.fa.fa-clock-o(aria-hidden="true") 6 minutes ago
                        a.btn.btn-primary(href=`/`, style="width: 100%;") Batafsil



